html, body{
  height:100%;
}
#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: LightBlue;
}
#left{
    float: left;
    clear: both;
}
#right{
    float: left;
    background: PaleGreen;
}

